<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GDT</title>
    <style>

    </style>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/backend-plugin.min.css}">
    <link rel="stylesheet" th:href="@{/css/backend.css}">
    <link rel="stylesheet" th:href="@{/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/fonts/remixicon.css}">

    <link rel="stylesheet" th:href="@{/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css}">
    <link rel="stylesheet" th:href="@{/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css}">
    <link rel="stylesheet" th:href="@{/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css}">
</head>
<body class="modal-open">

<div class="card-header">

    <form class="formGroup" method="Get" th:action="@{AjouteEtudiantGroup}">

        <input id ="idGroup2" type="hidden" name="id" th:value="${GroupsEdit.id}">
        <input   type="hidden" name="currentPage" th:value="${currentPage}">
        <input   type="hidden" name="size" th:value="${size}">
        <input  type="hidden" name="searchName" th:value="${searchName}">
        <input  type="hidden" name="action" th:value="EditController">

        <label for="myInput1">Sélectionnez Etudiant que vous souhaitez Ajouter : &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input autocomplete="off" type="text" class="dropbtn myInput" name="idEtudiantAjouter" placeholder="Nom Etudiant" id="myInput1" onInput="filterFunction()" list="idEtudiantAjouter"   >

        <datalist  id="idEtudiantAjouter" class="dropdown-content myDropdown">
            <option  th:each="s:${AddEtudiant}" th:value="${s.nom != null} ? ${s.getId()} : '-1' " th:text ="${s.nom != null} ? ${s.getNom()} : 'Null' "></option>
        </datalist>

        <button class="btn btn-primary" type="submit">Ajouter</button>

    </form>

    <br>

    <form class="formGroup" method="Get" th:action="@{DeleteEtudiantGroup}">

        <input id ="idGroup3" type="hidden" name="id" th:value="${GroupsEdit.id}">
        <input   type="hidden" name="currentPage" th:value="${currentPage}">
        <input   type="hidden" name="size" th:value="${size}">
        <input  type="hidden" name="searchName" th:value="${searchName}">
        <input  type="hidden" name="action" th:value="EditController">

        <label for="myInput2">Sélectionnez Etudiant que vous souhaitez supprimer : </label>
        <input autocomplete="off" type="text" class="dropbtn myInput" name="idEtudiantSupprimer" placeholder="Nom Etudiant" id="myInput2" onInput="filterFunction(this)" list="idEtudiantSupprimer"   >

        <datalist  id="idEtudiantSupprimer" class="dropdown-content myDropdown">
            <option  th:each="s:${DeleteEtudiant}" th:value="${s.nom != null} ? ${s.getId()} : '-1' " th:text ="${s.nom != null} ? ${s.getNom()} : 'Null' "></option>
        </datalist>

        <button class="btn btn-primary" type="submit">Delete</button>

    </form>

</div>


<!-- Backend Bundle JavaScript -->
<script th:src="@{/js/backend-bundle.min.js}"></script>

<!-- Table Treeview JavaScript -->
<script th:src="@{/js/table-treeview.js}"></script>

<!-- Chart Custom JavaScript -->
<script th:src="@{/js/customizer.js}"></script>

<!-- Chart Custom JavaScript -->
<script async th:src="@{/js/chart-custom.js}"></script>
<!-- Chart Custom JavaScript -->
<script async th:src="@{/js/slider.js}"></script>

<!-- app JavaScript -->
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/vendor/moment.min.js}"></script>
</body>
</html>